:root {
  --header-font: "Montserrat", sans-serif;
  --paragraph-font: "Lora", serif;
  --primary-font-color: #2f3335;
}

body {
  background: #fed61b;
}

h1,
h2 {
  font-family: var(--header-font);
  font-weight: bold;
}

h1 {
  font-size: 95px;
  margin: 0 auto;
  color: var(--primary-font-color);
  padding-top: 35px;
}

h2 {
  color: white;
  margin: 0;
}

h3 {
  margin: 30px 15px;
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
  margin-top: 30px;
}

p {
  padding: 0 35px;
}

.cat-pages {
  background-image: url(/images/kitten2.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: -200px;
  left: 0;
}

.navbar {
  height: 80px;
  border-bottom: 1px solid rgba(47, 51, 53, 0.5);
  font-family: var(--header-font);
  padding: 25px 20px;
}

#navbarNav {
  justify-content: right;
}

.nav-item {
  margin-left: 50px;
}

.navbar-brand {
  color: var(--primary-font-color);
}

.wrapper {
  min-height: calc(100vh - 125px);
  text-align: center;
}

.smaller-h1 {
  font-size: 65px;
}

.contact-message {
  margin: 75px 30px 30px 30px;
}

.email a {
  color: var(--primary-font-color);
  transition: all 100ms ease-in-out;
}

.email a:hover {
  color: grey;
}

.btn-branding {
  display: inline-block;
  justify-self: center;
  border: 1px solid var(--primary-font-color);
  border-radius: 20px;
  max-width: 125px;
  max-height: 38px;
  background: var(--primary-font-color);
  color: white;
  margin: 35px;
  padding: 6px 12px;
  font-family: var(--header-font);
  font-weight: bold;
  box-shadow: 2px 2px 2px 2px rgba(110, 71, 71, 0.3);
}

.btn-branding:hover {
  background: white;
  color: var(--primary-font-color);
}

.row-links {
  justify-content: center;
}

.img-wrap {
  position: relative;
  margin: 0 30px;
  padding: 0;
  width: 150px;
  height: 165px;
}

.img-description {
  width: 149.5px;
  position: absolute;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: var(--primary-font-color);
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.img-about-me,
.img-projects,
.img-certifications {
  display: block;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 20px;
  width: 150px;
  height: 150px;
}

.image-molly {
  display: block;
  margin: 12px auto;
  border: 1px solid white;
  border-radius: 100%;
  width: 225px;
  height: 225px;
}

.skills-box {
  border: 1px solid white;
  border-radius: 20px;
  max-width: fit-content;
  margin: 30px;
  padding: 15px;
}

.skills-box p {
  padding: 0;
  margin: 0;
}

.project-images {
  max-width: 400px;
  max-height: 400px;
}

.project-images {
  margin: 0 50px;
}

.project-desc-right {
  margin: 0;
  padding: 0;
  text-align: left;
}

.project-desc-right p {
  padding-left: 0;
}

.project-desc-left {
  text-align: right;
}

.project-desc-left p {
  padding-right: 0;
}

.row-projects,
.row-certs {
  margin: 40px auto 0;
}

.row-projects a {
  color: white;
  transition: all 100ms ease-in-out;
}

.row-projects a:hover {
  color: var(--primary-font-color);
}

.certs {
  max-width: 450px;
}

.footer a {
  display: inline-block;
}

.no-cat-footer {
  text-align: center;
  padding: 15px;
  display: inline-flex;
  align-content: center;
}

.no-cat-footer a {
  padding: 0 40px 0 40px;
}

.icon-git,
.icon-linkedin {
  display: inline-block;
  color: var(--primary-font-color);
  font-size: 30px;
  text-decoration: none;
  padding-right: 30px;
  transition: all 100ms ease-in-out;
}

.icon-git {
  text-align: right;
}

.icon-linkedin {
  text-align: left;
}

.icon-git:hover,
.icon-linkedin:hover {
  color: white;
}

.footer-message {
  display: inline-block;
  margin: 0;
  font-size: 11px;
  text-align: left;
  align-self: center;
}

@media (max-width: 960px) {
  h1,
  .smaller-h1 {
    font-size: 45px;
  }
  h2 {
    padding: 0 15px 0 15px;
  }
  .nav-item {
    background: white;
    padding-left: 10px;
  }
  .cat-pages {
    background: #fed61b;
  }
  .row-links {
    display: block;
  }
  .image-molly {
    max-width: 150px;
    max-height: 150px;
  }
  .footer-message {
    text-align: center;
  }
  .footer a {
    padding: 10px 20px 0 20px;
  }
}
